/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    background-color:#c3bef0;
    color:#023E8A;
}

.authors{
    background-color: #c3bef0;
}

.body{
    background-color: rgb(90, 92, 92);
}

#chart-wrapper{
    margin: auto;
    padding: 10px;
    min-height: 400px;
    background-color: #c3bef0 !important;
    justify-content: center;
    align-items: center;  
}

#scatter{
    background-color:rgb(236, 236, 236);
}

.footer{
    background-color: #defcf9;

}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.link{
    text-decoration:none;
    color:#023E8A;
}

.nb-background-color{   /* navbar background color */
    background-color: #cca8e9;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
    color: #023E8A;
}

.overview{
    background-color: #cadefc;
    color: #023E8A;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.ovPadTop{
    padding-top: 20px;
}

.ovPadBottom{
    padding-bottom: 20px;
}

.photo img{
    height:450px
}

.procedure{
    background-color: #c3bef0;
    padding: 1px;
}

.procedure-header{
    color:#023E8A;
}

.psize{
    height:60px;
}

.row{
    background-color:#cadefc;
}



.showcase{
    background-color: #c3bef0; /*#0096c7*/
    color:#023E8A;
}

.strong{
    font-weight:bold;
}




/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #023E8A;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

/* ---------------- Element CSS ---------------- */

li{
    font-size: 15px;
}

td img{
    height:150px;
    width:150px;
}

table{
    color:#023E8A;
}